<div class="container">
  <div class="card">
    <h5 class="card-header">PRODUCT LIST</h5>
    <div class="card-body">
      <ul class="card-title">
        <table class="table table-bordered">
          <thead style="font-variant: small-caps;">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
              <th scope="col">Image</th>
              <th scope="col">Category</th>
              <th scope="col">Avaiable?</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in items">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price | number:2}}</td>
              <td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
              <td>{{item.image}}</td>
              <td>{{item.category.name}}</td>
              <td>{{item.available?'Yes':'No'}}</td>
              <td>
                <div class="btn-group btn-group-xs">
                  <button ng-click="edit(item)" class="btn btn-warning"><i class="bi bi-pencil-square">Edit</i></button>
                  <button ng-click="delete(item)" class="btn btn-danger"><i class="bi bi-trash3-fill">Delete</i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="card-footer text-center">
          <button ng-click="pager.first()" class="btn btn-danger">
            <b class="glyphicon glyphicon-hand-up"></b>
          </button>
          <button ng-click="pager.prev()" class="btn btn-primary">
            <b class="glyphicon glyphicon-hand-left"></b>
          </button>
          <button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
          <button ng-click="pager.next()" class="btn btn-primary">
            <b class="glyphicon glyphicon-hand-right"></b>
        </button>
        <button ng-click="pager.last()" class="btn btn-danger">
          <b class="glyphicon glyphicon-hand-down"></b>
      </button>
        </div>
      </ul>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>