<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main class="controller">
        <div class="row col-sm-12" th:fragment="shopping_cart">
            <div class="card mt-3 ">
                <div class="card-header">
                    SHOPPING CART
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="card-subtitle mb-2 text-muted">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cart.items">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>${{item.price | number:2}}</td>
                                    <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1">{{item.q}}</td>
                                    <td>${{item.qty*item.price | number:2}}</td>
                                    <td>
                                        <button ng-click="cart.remove(item.id)" class="btn btn-sm ">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <button ng-click="cart.clear()" class="card-link btn btn-danger">Clear</button>
                    <a th:href="@{/order/checkout}" class="card-link btn btn-primary">Checkout</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>